<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Site</title>
</head>
<body>
        <div>
                <h1><a href="/">Bikal Shrestha's Blog</a></h1>
            </div>
    
            <div>
                <p>published: 13.11.2018, 08:48</p>
                <h2><a href="">My first post</a></h2>
                <p>Hello My name is Bikal shrestha .I am currently learning django  and i am enjoying it .Thank you !!</p>
            </div>
    
            <div>
                <p>published: 10.11.2018, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Django is fun to learn. So i recommened you guys learn it too .</p>
            </div>
    

</body>
</html>